@import 'dos.css';

:root {
    --primary-color: #000084;
    --primary-sub-color: #3c3c86;
    --secondary-color: #f5e025;
    --secondary-sub-color: rgb(189, 160, 0);

}
html, body {
    padding: 0;
    margin: 0;      
    border: 0; 
    height: 100%;
    width: 100%;
    min-width: 300px;  
    font-size: 10px !important;
}
.output-msg a {
    display: block;
}
header{
    width: inherit !important;
    height: 50px;
    background-color:#363636; 
    z-index: 300;
}
body.dos nav {
    position:fixed;
}
footer {
    text-align: left;
}
footer input {
    width: 50%;
    margin: 10px;
}
section {
    padding:0;
    margin:0;
    margin-left:auto;
    margin-right:auto;    
    width: 80%; /* 920px */
    height: auto;
    min-height:98%;
    min-width: 300px;
    border-bottom: dashed 1px;   
}

section .container {
    padding: 25px;
    margin-bottom: 25px;
    height: auto;
    width: auto;    
    min-width: 200px;
}
#homePage {
    position: relative;
    text-align: left;
}
#homePage .container, #thank-you .container {
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    height: 80%;
}
#homePage h4 img {
    width: auto;
    height: 15px;
    margin-right: 10px;
}
#homePage .homePage-CoRights-container {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 30px;
    width: 90%;
    text-transform: capitalize;
}
#homePage .homePage-CoRights-container div {
    width: 50%;
    float: left;
}
#homePage .homePage-CoRights-container div:last-child {
    text-align: right;
}
.wrap {
    text-align: left;
	box-sizing: border-box;
	display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.wrap p {
    padding:0px 0px 25px 0px;
}
#thank-you .container{
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    height: 80%;
}

ul#info-toolbar {
    padding: 0;
    margin: 0;
    display: inline-table;    
    width: auto !important;
    padding-left: 0px !important;
    height: 35px;    
    line-height: 35px;  
    background-color: #363636;  
}
ul#info-toolbar:focus {
    background-color: #6e0404;  
}
#info-toolbar li, #info-toolbar li ul li {
    cursor: pointer;
}
#info-toolbar li {
    float: left;
    display: table-cell;
    margin-right: 15px;
    margin-left: 15px;
}
#info-toolbar li a{ 
    display: block;
}
#info-toolbar li:hover ul, #info-toolbar li:active ul { 
    display: block;
}

form#input-panel {
}

label {
    font-size: 10px !important;
    padding: 0.5rem 1.5rem;
    display: inline-block;
}
textarea, input{
    font-family: 'Press Start 2P', cursive;
    background-color: transparent;
    border: none;
    text-indent: 0px;
    overflow: hidden;
    color: white;
    animation: cursor 1s infinite;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    width: 50%;
}
input:focus {
    animation: cursorOut 0.1s forwards;
   opacity: 1;
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.terminal {
    margin-top: 50px;
    border: double #cccccc 1px;
    padding: 15px;
}
.terminal .output {
    padding: 5px;
    margin-top: -25px;
    background-color: var(--primary-color);
    float: left;
    
}
body.dos ul, .terminal ul {
    border: double #cccccc;
    margin-top: 25px;
}
.output-msg {
    display: none;
    padding-left:5px;
}
#menuToggle {
    display: none;
}
pre {
    font-size: 18px !important;
    font-weight: bolder;
}
form {
    border: 3px double #cccccc;
    border-style: double !important;
    padding: 5px;
    
}
.scroll {
    background-color: var(--primary-color);
}
.dos .page-loader {    
    background-color: var(--primary-color);
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    z-index: 0;
    justify-content: center;
    text-align: center;
}
.dos .page-loader .loader-wrap {
    width: 50%;
    margin: 0 auto;
}
.dos .page-loader .bar {
    margin: 1rem 0.5rem;
    padding: 0.5rem 0.5rem;
    border: #cccccc 1px solid;
    margin-left: auto;
    margin-right: auto;
    min-width: 30rem;
    width: auto;
    background-size: 100px;
    position: relative;
}
.dos .page-loader .bar .bar-cells {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    min-height: 4rem;
}
.dos .page-loader .bar .bar-cells .cell {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    width: auto;
    height: 2rem;
    min-width: 4px;
    min-height: 4px;
    box-sizing: border-box;
    margin: 0 1px;
    font-size: 4px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-indent: -1000rem;
    transition: all 500ms linear;
}

.dos .page-loader .bar .bar-cells .cell.empty {
    background-color:  var(--primary-color);    
    border: 2px solid var(--primary-sub-color);
    height: 2rem;  
}
.dos .page-loader .bar .bar-cells .cell.selected {
    background-color:var(--secondary-sub-color);  
}
#bio {
    display: none;
}
#local-time {
    padding: 0.5rem 1rem;
    background-color: dimgrey;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    bottom: 0%;
    display: flex;
    align-items: center;
}