html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-size: 18px;
  color: white;
  position: relative;
}

body::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8b8b8b;
}

.front {
  margin-top: 100vh;
}

#highlights {
  color: white;
}

.panels-wrapper {
  z-index: 10000;
  position: fixed;
  right: 0;
  top: 0;
  height: auto;
  margin: 20px;
  padding: 5px;
  background-color: #00000065;
  font-size: 14px;
  font-weight: normal;
  color: #ccc;
  min-width: 320px;
}

.panels-wrapper textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: 1px solid #313131;
  color: #a7a7a7;
  padding: 20px;
}

.panels-wrapper .panel {
  margin: 5px 0;
  background-color: #00000065;
}

.panels-wrapper .panel:first-child {
  margin-top: 0;
}

.panels-wrapper .panel svg {
  max-width: 10px;
}

.panels-wrapper .panel svg path {
  fill: white;
}

.panels-wrapper .panel header {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #353535;
  margin-bottom: calc(20px/2);
  padding-bottom: calc(20px/2);
}

.panels-wrapper .panel header:hover {
  background-color: #747474a6;
  color: initial;
}

.panels-wrapper .panel header .label {
  margin: 0 5px;
}

.panels-wrapper .panel header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panels-wrapper .panel header .buttons .button {
  text-transform: uppercase;
  text-align: center;
  width: 14px;
  height: 14px;
  line-height: unset;
  display: block;
  margin: 2px;
  padding: 2px;
  border: 1px solid #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6rem;
}

.panels-wrapper .panel header .buttons .button:hover {
  cursor: pointer;
  background-color: #3b3b3b;
}

.panels-wrapper .panel header .buttons .button:after {
  font-size: 10px;
  font-weight: 900;
}

.panels-wrapper .panel header .buttons .button.add:after {
  content: '\002B';
}

.panels-wrapper .panel header .buttons .button.remove:after {
  content: '\2212';
}

.panels-wrapper .panel header .buttons .button.minimize:after {
  content: '\005F';
}

.panels-wrapper .panel header .buttons .button.close:after {
  content: '\2716';
}

.panels-wrapper .panel header .buttons .button.more:after {
  content: '\2026';
}

.panels-wrapper .panel .info {
  padding: 5px;
  margin: 5px;
  background-color: #00000065;
  margin-bottom: 20px;
}

.panels-wrapper .panel .info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #282626;
}

.panels-wrapper .panel .info > div:hover {
  background-color: #ffffff15;
}

.panels-wrapper .panel .info > div > div:nth-child(1)::after {
  content: ": ";
}

.panels-wrapper .panel .info > div > div:nth-child(2) {
  background-color: rgba(155, 199, 66, 0.6);
  color: #162002;
  padding: 0 5px;
  font-weight: 900;
}

.highlights--list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.highlights--list li {
  padding: 10px;
  text-align: center;
}

.highlights--list li:nth-child(4n+1) .description {
  background-color: red;
}

.highlights--list li:nth-child(4n+2) .description {
  background-color: #ffee00;
}

.highlights--list li:nth-child(4n+3) .description {
  background-color: #00ff22;
}

.highlights--list li:nth-child(4n+4) .description {
  background-color: cyan;
}

.highlights--list .title {
  font-size: 3rem;
  font-weight: bolder;
}

.highlights--list .description {
  padding: 2px 6px;
}

.highlights--list .description.invert {
  background-color: black;
}

#main-animation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2E2E2E;
}

#main-animation #stars {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

#main-animation #stars .star {
  position: absolute;
  z-index: 151;
  opacity: 0.8;
}

#main-animation #stars .star svg {
  width: 50px;
  height: 50px;
}

.front .container {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background: black;
  background: linear-gradient(160deg, black 10%, rgba(0, 0, 0, 0) 100%), url(../images/photo-1558980664-2506fca6bfc2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.front .container .content {
  padding: 50px;
}

.front .container .content p {
  max-width: 210px;
}
/*# sourceMappingURL=style.css.map */